<div class="col s3">
  <div class="card" appHover>
    <div class="card-image">
      <img src="{{ user.image }}">
      <a
        class="btn-floating halfway-fab pulse"
        (click)="onClick()"
      >
        <i class="material-icons">
          edit
        </i>
      </a>
    </div>
    <div class="card-content">
      <span
        class="card-title"
        [ngClass]="{'marked': isMarked}"
        ngSwitch="'{{ user.status }}'"
      >
        <ng-template ngSwitchCase="'true'"><div id="circle-green"></div></ng-template>
        {{ user.name | uppercase }}
      </span>
      <hr>
      <p>
        Gender: {{ user.gender }}
      </p>
      <br>
      <p>
        Date of Birthday: {{ user.dob }}
      </p>
      <p>
        ( Age: {{ user.age }} )
      </p>
      <br>
      <p>
        Phone: {{ user.phone }}
      </p>
      <br>
      <p>
        Location: {{ user.geo }}
      </p>
    </div>
  </div>
</div>
