.card-title {
  text-align: center;
  font-size: 200%;
}

.card-content {
  height: 400px;
  font-size: 16px;
}

hr {
  margin: 20px 0px;
}

a {
  background: linear-gradient(30deg, #ffcd2e, #fc0819);
  width: 47px;
  height: 47px;
  margin: 10px;
  padding-top: 2px;
}

.marked {
  font-weight: bold;
  color: #8c09ff;
}

.hovered {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  transition: .4s all;
}

#circle-green {
  width: 20px;
  height: 20px;
  background: #0cff29;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
}
